body {
  width: 1120px; /* increase the width of the body to make space for the sidebar on the right */
  border: 2px solid black; /* add a 2px border in black around the content */
  margin: 20px auto; /* 20px margin from top and bottom of the browser body and auto makes the content sit equidistant from the left and right of the browser body */
  padding: 20px; /* make the content inside the body sit at a 20px gap from all the 4 sides */
  border-radius: 10px; /* round the edges of the border */
  font-family: sans-serif; /* change the default font to sans serif */
}

header {
  text-align: center; /* Center the text in the header*/
}

h1 {
  color: green; /* using a hex code to change the colour */
  font-family: cursive; /* changes how the text looks to use the cursive font */
}

.contact form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  margin-bottom: 20px;
}

.field {
  margin: 10px 5px;
}

.field label {
  display: inline-block;
  width: 120px;
  vertical-align: top;
}

.field input,
textarea {
  width: 200px;
}

.field select {
  width: 208px;
}

.contact fieldset {
  border: 2px solid green;
}

.contact fieldset legend {
  font-size: 18px;
  font-weight: bold;
  padding: 0 10px;
}

.submit button {
  display: block;
  margin: 0 auto;
  border: 2px solid green;
  background-color: green;
  color: white;
  font-weight: bold;
  padding: 5px 10px;
}

footer {
  clear: both; /* clear the floating elements above */
  text-align: center; /* Center the text in the footer */
  font-weight: bold; /* make the text bold */
  background-color: #f7e7d9; /* add colour to the  background */
  padding: 20px 0; /* add a 20 px top and bottom padding in the footer tag  */
  font-size: 20px; /* make the text bigger than default */
  color: seagreen; /* change the colour of the text */
}
